
*.bz2
*.scale
Data/mnist.scale.t
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/残差图.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
result/线性统计/6.12/compare_linear.jpg
